In [1]:
def add(x,y):
    print(x+y)

In [2]:
add(2,2,2)

TypeError: add() takes 2 positional arguments but 3 were given

In [3]:
#to resolve this problem

# arguments = its pick multiple arguments

In [1]:
def add_(*args):
    result = 0
    for i in args:
        result += i

    return result

In [2]:
add_(223,234,3243,24423,2)

28125

In [3]:
print(1,None,'ajay')

1 None ajay

In [4]:
#def students_info(name,age,sec,roll,Class):

In [5]:
# **kwargs

In [6]:
def student_details(**kwargs):
    return kwargs

In [7]:
student_details(name = 'aysuh',age=23)

{'name': 'aysuh', 'age': 23}

In [8]:
def student_details(**kwargs):
    for key,value in kwargs.items():
        print(f'your {key} is {value}')

In [13]:
student_details(name = 'ayush',sec='F',age = 33 ,girlfriendname = 'drishti')

your name is ayush
your sec is F
your age is 33
your girlfriendname is drishti

In [14]:
# nested func :- function inside funct

In [20]:
def a():
    print('I am a')
    def b():
        print('I am b')

    b()

In [21]:
a()

I am a
I am b

In [29]:
def one():
    print('i am one')
    def two():
        print('i am two')
        def three():
            print('i am three')
        three()
    two()

In [30]:
one()

i am one
i am two
i am three

In [31]:
# variable scope :- 
#local variable
#global  variable

In [35]:
def info():
    name = 'Ayush'
    print(f'Hello {name}')

In [36]:
info()

Hello Ayush

In [39]:
print(name)

NameError: name 'name' is not defined

In [56]:
def info(): #global variable
    global take_name,age
    take_name = 'Ayush'
    age =90
    print(f'Hello {take_name}')

In [57]:
info()

Hello Ayush

In [54]:
print(take_name)

Ayush

In [55]:
print(age)

90

In [66]:
country = 'India'
name = 'ayush'
def about():
    print(f'i love {country} {name}')

In [67]:
about()

i love India ayush

In [81]:
# global variable

In [69]:
country = 'india'

def about():
    global country  
    country = 'nepal'
    print(f' I love my {country}')

print('first line: ',country)

about()
print('second line: ',country)

first line:  india
 I love my nepal
second line:  nepal

In [72]:
def one():
    country = 'india'
    print(f'i love my {country} by one func')
    def two():
        country = 'nepal'
        print(f' i love my {country}')

    print('first line: ', country)
    two()

In [73]:
one()

i love my india by one func
first line:  india
 i love my nepal

In [ ]:
# nonlocal variable

In [79]:
def one():
    country = 'india'
    print(f'i love my {country} by one func')
    def two():
        nonlocal country
        country = 'nepal'
        print(f' i love my {country}')
    two()
    print('first line: ', country)

In [80]:
one()

i love my india by one func
 i love my nepal
first line:  nepal

In [82]:
def check_prime(num):
    for i in range(2,num):
        if num%i == 0:
            break

    else:
        return num

In [83]:
check_prime(10)

In [84]:
def give_prime(number):
    result = []
    for i in range(2,number+1):
        if check_prime(i) != None:
            result.append(check_prime(i))

    return result

In [85]:
print(give_prime(1000))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]