In [1]:
#for -: when we know the number of iteration()
#iterable:- (more than ones)

#while loop:- it depends on given condition

In [2]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [4]:
import time
for i in [1,2,3,4,5,6]:
    print(i)
    time.sleep(2)

1
2
3
4
5
6

In [9]:
import time
data ='ayush loves D?'
for i in data:
    print(i)
    time.sleep(2)

a
y
u
s
h

l
o
v
e
s

D
?

In [15]:
student = ['ayusg','gjhg','gjhdf']
for jffgjf  in student:
    
    print(jffgjf)

ayusg
gjhg
gjhdf

In [16]:
final_data = []

for i in students:
    final_data.append('@'+i)

In [18]:
final_data

['@g', '@j', '@h', '@d', '@f']

In [23]:
trimmed_data = []

for i in final_data:
    trimmed_data.append(i.replace('@','').replace('gjhg'))

TypeError: replace expected at least 2 arguments, got 1

In [1]:
data = [8999,5676,4353,5768,7689]

even=[]

odd=[]

for i in data:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

print('even list:',even)
print('odd list:',odd)

even list: [5676, 5768]
odd list: [8999, 4353, 7689]

In [17]:
a = ['ola','adani','maruti','tata','jio', 'Ayush','Drishti']

In [21]:
v = []
c = []

for i in a:
    if i[0].lower() in 'aeiou':
        v.append(i)

    else:
        c.append(i)

In [22]:
v

['ola', 'adani', 'Ayush']

In [23]:
c

['maruti', 'tata', 'jio', 'Drishti']

In [27]:
a = 'Ayush'
reverse_a = ''
for i in a:
    reverse_a = i+reverse_a

print(reverse_a)

hsuyA

In [1]:
a = [5354,789,878,32]
for i in a:
    if i == 53:
        continue # to skip that particular iteration or element use to continue
    else:
        print(i,':' , i ** 2)

5354 : 28665316
789 : 622521
878 : 770884
32 : 1024

In [3]:
students = ['Ayush','Araman','Khushi','Naman','Saandeep']

for student in students:
    if student in ['Naman']:
        continue
    else:
        print(f'Hey!!{student}, You are allowed')

Hey!!Ayush, You are allowed
Hey!!Araman, You are allowed
Hey!!Khushi, You are allowed
Hey!!Saandeep, You are allowed

In [4]:
# brek statment
s = ['Ayush','Araman','Khushi','Naman','Saandeep']

for i in s:
    if  i == 'Naman':
        break
        print(i , 'Naman found')

    print(i,'Naman not found')

Ayush Naman not found
Araman Naman not found
Khushi Naman not found

In [6]:
table = 4

for i in range(1,11):
    print(f'{table} x {i} = {table*i}')

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [12]:
table = int(input())

for i in range(1,11):
    print(f'{table} x {i} = {table*i}')

 8768

8768 x 1 = 8768
8768 x 2 = 17536
8768 x 3 = 26304
8768 x 4 = 35072
8768 x 5 = 43840
8768 x 6 = 52608
8768 x 7 = 61376
8768 x 8 = 70144
8768 x 9 = 78912
8768 x 10 = 87680

In [14]:
no = range(1,21)
even_sum = 0
odd_sum = 0
for i in no:
    if i%2 == 0:
        even_sum +=i

    odd_sum +=i

print('even sum', even_sum)
print('odd sum', even_sum)

even sum 110
odd sum 110