In [1]:
a = (12,3232,322,32321,)
print(a,type(a))

(12, 3232, 322, 32321) <class 'tuple'>

In [2]:
b = 984309,900,9039,39
print(b,type(b))

(984309, 900, 9039, 39) <class 'tuple'>

In [3]:
#single element tuple
a = (23,)
print(a,type(a))

(23,) <class 'tuple'>

In [4]:
#basic operation
a = (1,2,3,4)
b = (3,4,5)
print(a*b)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [6]:
a = (1,2,3,4)
b = (3,4,5)
print(b*7)

(3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5)

In [7]:
#tuple are immutable in nature
#we can not change or assign item
# remains same as list
# indexing,slicing,nested,negative indexing

In [8]:
a = (1,23,34,34)

print(a[2])

34

In [9]:
a[2] = 2332

TypeError: 'tuple' object does not support item assignment

In [10]:
# Basic func
a = (5558,778,8789,8989,6768)
a

(5558, 778, 8789, 8989, 6768)

In [12]:
min(a)

778

In [13]:
sum(a)

30882

In [14]:
id(a)

2560951514784

In [15]:
len(a)

5

In [16]:
# nested tuple

a  = (1,2,2,45,(3,3,4,56,(909,89)))
a

(1, 2, 2, 45, (3, 3, 4, 56, (909, 89)))

In [19]:
a[-1][3]

56

In [22]:
a = list(a)
a[2] = 9999

print(a)

a = tuple(a)
a

[1, 2, 9999, 45, (3, 3, 4, 56, (909, 89))]

(1, 2, 9999, 45, (3, 3, 4, 56, (909, 89)))

In [36]:
z = (575,[678678,554],55)
z
z[-1][-1] = 87

TypeError: 'int' object does not support item assignment

# methods

In [37]:
a = (4,5,6,6,3,3,4,3,3,4,7,9,0)
a.count(3)

4

In [40]:
a.index(0)

12

# Dictionary/Mapping/hash/JSON

In [42]:
a = {'name':'ayush'}

In [44]:
print(a)

{'name': 'ayush'}

In [45]:
# immutables:- tuples, str, int ,float, complex,bool, frozenset
# mutables:-list, set, dict

In [46]:
a = {'Name' : 'ayush','age':23,'Address': 'noida'}

In [47]:
a

{'Name': 'ayush', 'age': 23, 'Address': 'noida'}

In [48]:
len(a)

3

In [57]:
b = {'Names':['Ayush','Drishti','OM','Kartik'],
     'salary':[3000000000,20000000,67868,8],
     'Age':[122,34,232,3131]}

In [58]:
b

{'Names': ['Ayush', 'Drishti', 'OM', 'Kartik'],
 'salary': [3000000000, 20000000, 67868, 8],
 'Age': [122, 34, 232, 3131]}

In [59]:
import pandas as pd

In [60]:
pd.DataFrame(b)

     Names      salary   Age
0    Ayush  3000000000   122
1  Drishti    20000000    34
2       OM       67868   232
3   Kartik           8  3131

In [62]:
table = pd.DataFrame(b)

In [63]:
table.to_excel('student_details.xlsx')

In [64]:
a = {43-3j:[1,233,546,7]}

print(a)

{(43-3j): [1, 233, 546, 7]}

In [65]:
#frozen set

In [67]:
c = frozenset({1,2,2,2})

In [68]:
c

frozenset({1, 2})

In [69]:
print(type(c))

<class 'frozenset'>